.container {
    border-bottom: solid black 0.25rem;
    width: 104rem;
    height: 5rem;
    display: flex;
}

.icon {
    background: url('src\assets\xmark-solid.svg');
    background-size: 2rem;
    height: 3rem;
    width: 2rem;
}

.icon:hover {
    cursor: pointer;
}

.name {
    margin-right: 2rem;
    font-weight: bold;
    font-size: larger;
}

.price {
    font-weight: bold;
    font-size: larger;
}