.container {
    width: 15rem;
    height: 97vh;
    border: solid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.box {
    width: 100%;
    border-bottom: 2px solid;
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.box:hover {
    background-color: gray;
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logout {
    bottom: 0;
    font-size: 2rem;
}

.box:last-child {
    text-align: bottom;
    position: absolute;
    border-top: 3px solid;
    border-bottom: 0;
}

.statistics {
    border-bottom: 3px solid;
}