.container {
    width: 15vw;
    height: 100vh;
    float: left;
    /* overflow: hidden; */
    position: relative;
    border: 5px solid;
}

.box {
    border: 3px solid;
    width: 99%;
    height: 9vh;
    text-align: center;
    align-items: center;
    display: flex;
}

.text {
    margin: auto;
    font-size: 3vw;
    font-weight: bolder;
}

.logout {
    border-top: 5px solid;
    position: absolute;
    bottom: 0;
}

.statistics {
    border-bottom: 5px solid;
}