<app-banner></app-banner>

<form [formGroup]="loginForm">
    <div class="loginForm">

        <div>
            <h1 class="loginText alkatra">Login</h1>
        </div>

        <p class="serverResponse" *ngIf="serverResponse != undefined">
            {{serverResponse}}
        </p>

        <div class="inputHolder">

            <input id="inputUsername" class="myInput" type="text" placeholder="Username" formControlName="username"
                (change)="onUsernameFieldChange()">
            <p class="invalidHint" *ngIf="usernameInvalid">Username has to be 3 to 20 characters long.</p>

        </div>

        <div class="inputHolder">

            <input id="inputPassword" class="myInput" type="password" placeholder="Password" formControlName="password"
                (change)="onPasswordFieldChange()">
            <p class="invalidHint" *ngIf="passwordInvalid">Password has to be 5 to 20 characters long.</p>


        </div>
        <div>
            <p class="links alkatra" (click)="onRegisterClick()">Register</p>
        </div>

        <div>
            <button class="loginButton alkatra" mat-raised-button color="red" [disabled]="loginForm.invalid"
                (click)="onLoginClick()"> Login </button>
        </div>

    </div>
</form>