<app-banner></app-banner>

<form [formGroup]="loginForm">
    <div class="loginForm">

        <div>
            <h1 class="loginText">Login</h1>
        </div>

        <div>
            <mat-form-field class="formField">
                <input type="text" matInput placeholder="Username" formControlName="username">

                <!-- <mat-error *ngIf="username!.invalid && username!.dirty"> Username has to be 3 to 20 characters long </mat-error> -->

            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="formField">

                <input type="password" matInput placeholder="Password" formControlName="password">

                <!-- <mat-error *ngIf="password!.invalid && password!.dirty"> Passwords has to be 5 to 20 characters long </mat-error> -->

            </mat-form-field>
        </div>
        <div>
            <p class="links" (click)="onRegisterClick()">Register</p>
        </div>

        <div>
            <button class="loginButton" mat-raised-button color="red" [disabled]="loginForm.invalid" (click)="onLoginClick()"> Login </button>
        </div>

    </div>
</form>