<form class="studentForm" [formGroup]="studentForm">
    <h1 class="alkatra text">New Student</h1>
    <p class="serverResponse" *ngIf="serverResponse != undefined">{{serverResponse}}</p>

    <div class="inputHolder">

        <input class="myInput" type="text" placeholder="Name" formControlName="name">

    </div>
    <div class="inputHolder">

        <input class="myInput" type="number" placeholder="Session Cost" formControlName="payPerSession">

    </div>

    <button class="createButton" [disabled]="studentForm.invalid" (click)="onCreate()">Create</button>

</form>